body {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

a{
    text-decoration: none;
}

header {
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: aliceblue;
    text-align: center;
    z-index: 999;
    height: 70px;
}

ul {
    list-style: none;
    text-align: center;
}

header li{
    width: 20%;
    float: right;
}

header a {
    color: white;
    font-size: 25px;
}

header a:hover{
    color: #0084ff;
    border-top: #fff solid 2px;
    border-bottom: #fff solid 2px;
}

.presentation{
    position: relative;
    background-size: cover;
    background: #151515 url("../img/presentation.jpg");
    background-size: cover;
    color: #fff;
    height: 600px;
    
}

.presentation:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    height: 20vh;
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 14%,rgba(0,0,0,.5) 52%,rgba(0, 0, 0, .3) 69%,rgba(0,0,0,0) 100%);
}

.presentation img{
    margin-top: 80px;
    border-radius: 50%;
}

#down {
    margin: 0;border-radius: 50%;
    border: #fff solid 1px;

}

.presentation h1{
    color: #0084ff;
    font-size: 30px
}

.about {
    background: #000000;
    color: #fff;
    height: 400px;
}

.about h2{
    color: #0084ff;
    margin: 0 auto;
    padding-top: 100px;
}

.about p{
    width: 50%;
    margin: 20px auto;
}