* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;

    width: 100%;
    margin: 0;
    padding: 0;

    text-align: center;
}

a {
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 999;

    width: 100%;
    height: 70px;

    text-align: center;

    color: aliceblue;
    background: rgba(0, 0, 0, 0.8);
}

ul {
    list-style: none;

    text-align: center;
}

header li {
    float: left;

    width: 25%;
    margin: 20px 0;
}

header a {
    font-size: 25px;

    color: white;
}

header a:hover {
    color: #0084ff;
    border-top: #ffffff solid 2px;
    border-bottom: #ffffff solid 2px;
}

.presentation {
    position: relative;

    height: 600px;

    color: #ffffff;
    background: #151515 url("../assets/img/presentation.jpg");
    background-size: cover;
}

.presentation:after {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 20vh;

    content: "";

    background: linear-gradient(to top, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 14%,rgba(0,0,0,0.5) 52%,rgba(0, 0, 0, 0.3) 69%,rgba(0,0,0,0) 100%);
}

.presentation img {
    margin-top: 80px;

    border: #e0dede solid 4px;
    border-radius: 50%;
}

.presentation h1 {
    font-size: 30px;
;

    color: #0084ff;
}

.about {
    height: 400px;

    color: #ffffff;
    background: #000000;
}

h2 {
    font-size: 35px;

    margin: 0 auto;
    padding-top: 100px;

    color: #0084ff;
}

.about p {
    width: 50%;
    margin: 20px auto;
}

.educations,
.skills,
.experience,
.portfolio,
.contacts {
    margin: 0 auto;
    margin: 0 auto;
    padding: 20px 15px;

    text-align: center;
}

.educations {
    position: relative;

    padding: 150px 0;

    color: #ffffff;
    background: #151515 url("../assets/img/education.jpg");
    background-size: cover;
}

.educations a {
    color: #ffffff;
}

.educations a:hover {
    color: #0084ff;
}

.educations li {
    width: 50%;
    margin: 20px auto;

    text-align: left;
}

.educations li:first-child {
    font-size: 25px;
    font-weight: bold;

    padding: 5px;

    border-bottom: solid 1px #ffffff;
}

.educations li:last-child {
    text-align: right;
}

.educations:after,
.portfolio:after {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 20vh;

    content: "";

    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 14%,rgba(0,0,0,0.5) 52%,rgba(0, 0, 0, 0.3) 69%,rgba(0,0,0,0) 100%);
}

.educations:before,
.portfolio::before {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 20vh;

    content: "";

    background: linear-gradient(to top, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 14%,rgba(0,0,0,0.5) 52%,rgba(0, 0, 0, 0.3) 69%,rgba(0,0,0,0) 100%);
}

.skills {
    font-size: 25px;

    height: 600px;

    color: #0084ff;
    background: #000000;
}

.content-skills {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px 15px;
}

.content-skills > li {
    font-size: 1.2em;
    font-size: 25px;

    display: flex;

    width: 100%;
    padding: 10px 0;

    text-align: left;

    color: #0084ff;
    border-bottom: solid 1px #ffffff;

    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
}

.content-skills > li > ul {
    text-align: right;

    color: #ffffff;
}

.portfolio {
    position: relative;

    height: 1000px;

    background: #151515 url("../assets/img/porfolio.jpg");
    background-size: cover;
}

.portfolio ul {
    width: 50%;
    margin: 30px auto;

    color: #ffffff;
}

.portfolio a {
    color: #ffffff;
}

.Ghost-Host img {
    border: #0084ff solid 2px;
}

.portfolio ul a:hover {
    color: #0084ff;
}

.contacts {
    padding-bottom: 0;

    color: #ffffff;
    background: #000000;
}

.contacts ul {
    max-width: 470px;
    margin: 0 auto;

    text-align: left;
}

.contacts li {
    padding: 10px;
}


footer {
    height: 50px;

    background: #000000;
}

footer h6 {
    float: left;

    margin-top: 30px;

    color: #ffffff;
}

footer ul {
    float: right;
}

footer li {
    float: left;
}

.github-icon,
.vk-icon,
.linkedin-icon {
    width: 50px;
    height: 50px;
    margin-right: 20px;

    border-radius: 50%;
}

.github-icon {
    background: #ffffff url("../assets/img/github-icon.svg");
    background-size: cover;
}

.github-icon:hover {
    background: #0084ff url("../assets/img/github-icon.svg");
    background-size: cover;
}

.vk-icon {
    background: #ffffff url("../assets/img/vk-icon.svg");
    background-size: cover;
}

.vk-icon:hover {
    background: #0084ff url("../assets/img/vk-icon.svg");
    background-size: cover;
}

.linkedin-icon {
    background: #ffffff url("../assets/img/linkedin-icon.svg");
    background-size: cover;
}

.linkedin-icon:hover {
    background: #0084ff url("../assets/img/linkedin-icon.svg");
    background-size: cover;
}

.follow {
    font-style: inherit;
;

    margin: 10px;

    color: #ffffff;
}
